<a href="https://colab.research.google.com/github/vipinbhagat123/Pandas/blob/main/practice_questions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🐼 Pandas 100 Medium-Level Practice Questions

---

## 🔁 Filtering & Logical Operations (1–20)

- 1. Filter rows based on multiple conditions involving columns like Salary, ExperienceYears, Location, and PerformanceRating.  
- 2. Filter employees with Salary > ₹60,000 and experience > 5 years.  
- 3. Select rows where Age < 30 and Department is 'HR'.  
- 4. Get all rows where PerformanceRating is 'Good' or 'Excellent'.  
- 5. Employees from Pune or Bangalore with Bonus > ₹15,000.  
- 6. AgeGroup is 'Senior' and LastPromotionYear < 2020.  
- 7. Employees whose Salary is between ₹50,000 and ₹80,000.  
- 8. Filter employees working in 'Data Science' with rating not 'Poor'.  
- 9. Filter all employees aged under 35 from Mumbai.  
- 10. Employees with less than 3 years experience or Salary > ₹90,000.  
- 11. Employees who are from Delhi, are over 40 years old, and have a rating of "Good".  
- 12. Employees with experience > 7 years and AgeGroup is "Senior".  
- 13. Employees with salary above average salary and bonus below 10k.  
- 14. Employees from Marketing or Sales with Rating not in ['Poor', 'Average'].  
- 15. Employees promoted in the last 2 years and earning less than 70k.  
- 16. Employees from 'HR' or 'Finance' departments with Age < 30.  
- 17. Filter based on a list of names or departments using isin().  
- 18. Find employees who are not eligible for promotion but rated 'Excellent'.  
- 19. Employees who have a non-null LastPromotionYear and salary > 90k.  
- 20. Filter those with both high salary and experience in top 10% of dataset.

---

## 📊 GroupBy & Aggregations (21–40)

- 21. Group by Department and calculate average Salary.  
- 22. Count employees in each AgeGroup.  
- 23. Total Bonus by Location.  
- 24. Max Salary in each Department.  
- 25. Min ExperienceYears by AgeGroup.  
- 26. Count employees in each Department with Rating='Excellent'.  
- 27. Average ExperienceYears grouped by Department and AgeGroup.  
- 28. Sum Bonus for employees from each city.  
- 29. Number of 'Senior' employees in each Department.  
- 30. Std deviation of Salary per PerformanceRating.  
- 31. Department-wise min and max Salary.  
- 32. Count of promotions by Department.  
- 33. Median Salary in each AgeGroup.  
- 34. Average salary by Location and Rating.  
- 35. Count employees with experience > 5 years per Department.  
- 36. Total number of employees in each Location.  
- 37. Salary variance by PerformanceRating.  
- 38. Average bonus for each AgeGroup.  
- 39. Sum of salaries of promoted vs non-promoted employees.  
- 40. Count of employees by Department and AgeGroup combination.

---

## 📈 Sorting & Ranking (41–50)

- 41. Sort the DataFrame by Salary in descending order.  
- 42. Sort by ExperienceYears, then by Age.  
- 43. Department-wise top 3 salaries using groupby + apply.  
- 44. Rank employees by Salary within each Department.  
- 45. Sort employees by LastPromotionYear.  
- 46. Sort by Bonus and PerformanceRating together.  
- 47. Rank within location for highest Salary.  
- 48. Rank by Age and Experience combined.  
- 49. Add a Salary percentile column.  
- 50. Sort based on Eligibility and then Rating.

---

## 🛠️ Column Creation using apply/lambda (51–60)

- 51. Add a Bonus column based on PerformanceRating (15%, 10%, 5%).  
- 52. Create Level based on ExperienceYears (Junior, Mid, Senior).  
- 53. Add a Tax column as 10% of Salary if Salary > ₹80,000.  
- 54. Eligibility column if employee has >3 years experience and rating = 'Good'.  
- 55. Create a RiskTag column if age > 50 and salary < ₹30,000.  
- 56. Add AgeBucket like 20s, 30s, 40s using floor division.  
- 57. Flag employees promoted within last 3 years.  
- 58. Create column: 'IncomeCategory' using Salary slabs.  
- 59. Create a Status flag using multiple column conditions.  
- 60. Round ExperienceYears to nearest integer column.

---

## ⚠️ Missing Data Handling (61–65)

- 61. Fill missing values in LastPromotionYear with 2020.  
- 62. Drop rows where Age is missing.  
- 63. Fill missing values in Salary using median.  
- 64. Use isnull() and sum() to find missing values per column.  
- 65. Replace all NaNs in ExperienceYears with 0.

---

## 🔗 Merge & Join (66–70)

- 66. Merge two DataFrames on EmployeeID (inner join).  
- 67. Merge employee info with training dataset using left join.  
- 68. Right join between HR master data and Department data.  
- 69. Combine employee and manager data on DepartmentID.  
- 70. Outer join on location data and employee salary info.

---

## 🔍 Advanced Filtering and Query Logic (71–80)

- 71. Find employees with rating='Excellent', Salary > 80k, and from Pune.  
- 72. Employees who are eligible for promotion and are not in 'HR'.  
- 73. Age between 30–40, Department='Sales', Location='Mumbai'.  
- 74. Employees promoted in the last 2 years and rating='Good'.  
- 75. Employees earning >80k and Bonus <10k.  
- 76. Use nested AND/OR to filter based on multiple logic.  
- 77. Employees with null promotion year and Age < 30.  
- 78. Use query() method for filtering complex conditions.  
- 79. Filter those having highest salary in each department.  
- 80. Filter rows where any column is null using df.isnull().any(axis=1).

---

## 🧮 Multi-Index and Multi-level Aggregation (81–85)

- 81. Group by Department + AgeGroup → count employees.  
- 82. Average Bonus grouped by Department + PerformanceRating.  
- 83. Min and Max Salary by Location + Department.  
- 84. Use named aggregations to summarize multiple metrics.  
- 85. Use groupby().agg() with dictionary to combine sum and mean.

---

## 📊 Visualization with matplotlib / seaborn (86–95)

- 86. Bar plot: Average Salary per Department.  
- 87. Pie chart: Employee distribution by AgeGroup.  
- 88. Histogram: Salary distribution.  
- 89. Box plot: Bonus by PerformanceRating.  
- 90. Countplot: No. of employees per city.  
- 91. Scatter plot: Salary vs ExperienceYears.  
- 92. Heatmap: Correlation matrix of numeric columns.  
- 93. Violin plot: Salary by Department.  
- 94. Line plot of average salary over age.  
- 95. Subplots: Salary, Experience, Bonus per group.

---

## 📁 Project-Oriented Tasks (96–100)

- 96. Perform full EDA on the HR dataset and write a summary report.  
- 97. Export top 10% earners to a separate CSV file.  
- 98. Create a pivot table showing avg Bonus by Department and Rating.  
- 99. Introduce missing data and fill using KNN or median.  
- 100. Save filtered datasets: High performers, Low performers, Not promoted.

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Updated_employee_data.csv")
performance_df = pd.read_csv("performance_data.csv")
merged_df=pd.merge(df, performance_df, on='EmployeeID', how='left')
merged_df.to_csv()

',EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear\n0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0\n1,1002,Jeffrey,Operations,50,80275,24,Pune,High,Yes,Senior,Average,2023.0\n2,1003,Leslie,Operations,37,48919,9,Kolkata,Normal,Yes,Mid,Good,2022.0\n3,1004,Dalton,Operations,23,51102,0,Kolkata,Normal,No,Young,Average,2023.0\n4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0\n5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0\n6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,\n7,1008,Nicole,Operations,49,51114,22,Bangalore,Normal,Yes,Senior,Poor,2021.0\n8,1009,Stephen,Finance,42,118994,16,Hyderabad,High,Yes,Senior,Poor,2022.0\n9,1010,Marissa,Data Science,50,40324,13,Bangalore,Normal,Yes,Senior,Average,\n10,1011,Misty,Finance,26,41894,2,Nagpur,Normal,No,Young,Good,2023.0\n11,1012,Elizabeth,IT Support,31,65021,1,Nagpur,Normal,No,Mid,Good,\n12,1013,Joshua,IT Support,37,103233,4,Mumbai,High,No,Mid,Poor,2023.0\n13,1014,Jose,HR,27,87639,2,Pune,High,No,Young,Good,2021.0\n14,1015,Rebecca,HR,41,107408,2,Pune,High,No,Senior,Average,2023.0\n15,1016,Rachel,IT Support,31,88137,6,Delhi,High,Yes,Mid,Excellent,2020.0\n16,1017,Rachel,Operations,37,31223,0,Chennai,Normal,No,Mid,Average,2022.0\n17,1018,Jacqueline,Marketing,37,138169,9,Mumbai,High,Yes,Mid,Good,2020.0\n18,1019,Jennifer,IT Support,46,114361,14,Chennai,High,Yes,Senior,Excellent,2020.0\n19,1020,Lynn,IT Support,34,39418,10,Nagpur,Normal,Yes,Mid,Poor,2021.0\n20,1021,Steven,Operations,36,66253,9,Delhi,Normal,Yes,Mid,Average,2020.0\n21,1022,Kelli,IT Support,28,86163,4,Chennai,High,No,Young,Average,2023.0\n22,1023,Carol,IT Support,44,66181,14,Hyderabad,Normal,Yes,Senior,Excellent,2022.0\n23,1024,Sabrina,Sales,43,49605,1,Mumbai,Normal,No,Senior,Average,2022.0\n24,1025,Linda,Sales,37,149570,0,Pune,High,No,Mid,Excellent,2023.0\n25,1026,Katie,Sales,42,102484,16,Mumbai,High,Yes,Senior,Poor,2022.0\n26,1027,Loretta,IT Support,46,127283,23,Delhi,High,Yes,Senior,Poor,2020.0\n27,1028,William,Sales,46,92262,21,Chennai,High,Yes,Senior,Average,\n28,1029,Todd,HR,31,120293,10,Delhi,High,Yes,Mid,Average,2021.0\n29,1030,Angela,Operations,43,133701,7,Pune,High,Yes,Senior,Good,2023.0\n30,1031,Wendy,Marketing,22,116236,0,Hyderabad,High,No,Young,Average,2023.0\n31,1032,Theresa,HR,23,32845,1,Kolkata,Normal,No,Young,Average,2022.0\n32,1033,Andrew,IT Support,44,146411,7,Delhi,High,Yes,Senior,Excellent,2020.0\n33,1034,Carla,Operations,23,51853,2,Nagpur,Normal,No,Young,Excellent,2022.0\n34,1035,Mary,Marketing,29,102198,3,Nagpur,High,No,Young,Poor,\n35,1036,Daniel,Marketing,30,144493,9,Nagpur,High,Yes,Mid,Poor,2020.0\n36,1037,Lauren,Sales,35,65432,4,Kolkata,Normal,No,Mid,Average,2020.0\n37,1038,Paul,Marketing,36,104203,11,Delhi,High,Yes,Mid,Average,2021.0\n38,1039,Melissa,IT Support,33,89665,2,Delhi,High,No,Mid,Good,2021.0\n39,1040,Kristine,Finance,42,95074,16,Chennai,High,Yes,Senior,Excellent,\n40,1041,Lindsey,Marketing,49,47754,3,Delhi,Normal,No,Senior,Average,2023.0\n41,1042,Tyler,Finance,45,35492,18,Nagpur,Normal,Yes,Senior,Average,2022.0\n42,1043,Samantha,Finance,38,136102,0,Delhi,High,No,Mid,Excellent,2021.0\n43,1044,Audrey,IT Support,28,88184,0,Kolkata,High,No,Young,Excellent,2022.0\n44,1045,Diane,HR,28,96675,6,Chennai,High,Yes,Young,Good,2023.0\n45,1046,Francis,HR,38,119090,2,Mumbai,High,No,Mid,Average,2023.0\n46,1047,Melissa,Data Science,34,47449,12,Bangalore,Normal,Yes,Mid,Average,2020.0\n47,1048,Monique,Data Science,32,57212,6,Chennai,Normal,Yes,Mid,Excellent,2023.0\n48,1049,Cheryl,Operations,30,76072,2,Kolkata,Normal,No,Mid,Poor,\n49,1050,Andrew,Data Science,41,106566,3,Nagpur,High,No,Senior,Excellent,2023.0\n50,1051,Ronald,Data Science,45,128777,23,Delhi,High,Yes,Senior,Good,2021.0\n51,1052,Timothy,Marketing,36,106311,2,Mumbai,High,No,Mid,Average,2020.0\n52,1053,Ronald,IT Support,31,138612,0,Mumbai,High,No,Mid,Good,2023.0\n53,1054,Jonathan,HR,39,60325,14,Mumbai,Normal,Yes,Mid,Poor,2023.0\n54,1055,Samuel,Finance,35,57664,8,Hyderabad,Normal,Yes,Mid,Average,2022.0\n55,1056,Amy,Operations,23,87709,0,Mumbai,High,No,Young,Excellent,2020.0\n56,1057,Lawrence,IT Support,26,147399,3,Kolkata,High,No,Young,Good,2020.0\n57,1058,Catherine,Operations,45,54734,15,Nagpur,Normal,Yes,Senior,Good,2023.0\n58,1059,Ronald,HR,45,59988,6,Bangalore,Normal,Yes,Senior,Excellent,2022.0\n59,1060,Donna,Operations,28,31440,7,Mumbai,Normal,Yes,Young,Excellent,\n60,1061,Karen,Finance,29,145473,8,Nagpur,High,Yes,Young,Good,2022.0\n61,1062,Natasha,Marketing,44,109790,11,Hyderabad,High,Yes,Senior,Average,2022.0\n62,1063,Lindsey,Sales,47,70801,14,Bangalore,Normal,Yes,Senior,Poor,2020.0\n63,1064,Gregory,HR,24,65202,0,Bangalore,Normal,No,Young,Average,2022.0\n64,1065,Jason,Finance,28,103819,6,Mumbai,High,Yes,Young,Excellent,2021.0\n65,1066,Paul,Marketing,29,42886,2,Mumbai,Normal,No,Young,Poor,2021.0\n66,1067,Natalie,Finance,46,55178,16,Delhi,Normal,Yes,Senior,Poor,2021.0\n67,1068,Lacey,Marketing,46,33541,22,Chennai,Normal,Yes,Senior,Good,\n68,1069,Karen,HR,34,125212,6,Bangalore,High,Yes,Mid,Average,2022.0\n69,1070,Natalie,Data Science,29,119132,0,Delhi,High,No,Young,Excellent,2021.0\n70,1071,Thomas,Data Science,46,54905,14,Kolkata,Normal,Yes,Senior,Excellent,2020.0\n71,1072,Christina,Finance,34,67463,9,Pune,Normal,Yes,Mid,Excellent,2020.0\n72,1073,Barbara,Finance,49,111648,4,Kolkata,High,No,Senior,Good,2023.0\n73,1074,Alexander,HR,24,80773,1,Bangalore,High,No,Young,Excellent,\n74,1075,Kevin,Data Science,38,72376,6,Hyderabad,Normal,Yes,Mid,Average,\n75,1076,Randy,Operations,28,129364,7,Chennai,High,Yes,Young,Excellent,2020.0\n76,1077,Frank,HR,26,43498,3,Chennai,Normal,No,Young,Good,2023.0\n77,1078,Amanda,Operations,41,147902,11,Delhi,High,Yes,Senior,Good,\n78,1079,Barbara,HR,32,130939,1,Hyderabad,High,No,Mid,Excellent,2023.0\n79,1080,Heather,IT Support,47,118320,13,Chennai,High,Yes,Senior,Poor,\n80,1081,Jamie,Marketing,39,60737,4,Delhi,Normal,No,Mid,Good,2022.0\n81,1082,Jon,Data Science,25,59476,0,Bangalore,Normal,No,Young,Poor,2020.0\n82,1083,Elizabeth,Data Science,40,111905,5,Nagpur,High,Yes,Senior,Good,2023.0\n83,1084,James,Data Science,38,145034,16,Nagpur,High,Yes,Mid,Good,2022.0\n84,1085,Franklin,Finance,32,114388,5,Hyderabad,High,Yes,Mid,Average,2022.0\n85,1086,Johnny,Data Science,44,73533,14,Nagpur,Normal,Yes,Senior,Average,2023.0\n86,1087,Amy,HR,37,64311,10,Hyderabad,Normal,Yes,Mid,Excellent,2022.0\n87,1088,Kimberly,Marketing,38,44517,3,Pune,Normal,No,Mid,Excellent,2021.0\n88,1089,Margaret,Data Science,36,138806,8,Hyderabad,High,Yes,Mid,Good,2022.0\n89,1090,Steven,IT Support,41,127428,6,Pune,High,Yes,Senior,Good,2022.0\n90,1091,Yvonne,HR,43,101112,9,Chennai,High,Yes,Senior,Excellent,2020.0\n91,1092,John,Marketing,49,114400,16,Hyderabad,High,Yes,Senior,Poor,2021.0\n92,1093,Tammy,Sales,33,72203,12,Chennai,Normal,Yes,Mid,Poor,\n93,1094,Crystal,Marketing,43,149446,14,Bangalore,High,Yes,Senior,Poor,\n94,1095,Regina,Sales,48,138821,1,Chennai,High,No,Senior,Poor,2021.0\n95,1096,Paul,Finance,36,127468,6,Bangalore,High,Yes,Mid,Excellent,\n96,1097,Steven,IT Support,27,135106,2,Mumbai,High,No,Young,Excellent,2022.0\n97,1098,Gregg,Marketing,25,33790,0,Kolkata,Normal,No,Young,Excellent,\n98,1099,Michael,IT Support,27,116966,5,Chennai,High,Yes,Young,Average,2020.0\n99,1100,Jennifer,Finance,35,81172,0,Mumbai,High,No,Mid,Good,2023.0\n100,1101,Madison,Finance,25,50862,1,Chennai,Normal,No,Young,Excellent,2023.0\n101,1102,John,Sales,34,106791,5,Hyderabad,High,Yes,Mid,Poor,2023.0\n102,1103,Mindy,Data Science,41,93909,13,Delhi,High,Yes,Senior,Poor,2020.0\n103,1104,Anne,Finance,49,118032,9,Nagpur,High,Yes,Senior,Average,2020.0\n104,1105,Jane,HR,46,85762,14,Bangalore,High,Yes,Senior,Average,2020.0\n105,1106,Nicholas,IT Support,23,146986,1,Nagpur,High,No,Young,Good,2022.0\n106,1107,James,Sales,32,102787,6,Bangalore,High,Yes,Mid,Poor,2023.0\n107,1108,Kenneth,IT Support,22,93008,1,Nagpur,High,No,Young,Poor,2022.0\n108,1109,Jason,Data Science,25,71058,3,Kolkata,Normal,No,Young,Excellent,2023.0\n109,1110,Christopher,Sales,39,107430,13,Kolkata,High,Yes,Mid,Poor,\n110,1111,Tim,Data Science,31,54099,6,Chennai,Normal,Yes,Mid,Good,2022.0\n111,1112,Kathy,Sales,29,93919,1,Pune,High,No,Young,Average,2023.0\n112,1113,Charles,IT Support,44,136811,21,Chennai,High,Yes,Senior,Excellent,\n113,1114,Valerie,HR,31,74111,1,Nagpur,Normal,No,Mid,Poor,2022.0\n114,1115,Lindsay,Finance,38,104139,6,Nagpur,High,Yes,Mid,Good,2020.0\n115,1116,David,Finance,46,56911,7,Chennai,Normal,Yes,Senior,Average,2021.0\n116,1117,Amanda,Sales,39,36400,6,Nagpur,Normal,Yes,Mid,Excellent,2023.0\n117,1118,Jessica,Data Science,40,77442,9,Delhi,Normal,Yes,Senior,Good,\n118,1119,Brendan,Sales,40,112517,1,Pune,High,No,Senior,Poor,\n119,1120,Timothy,Marketing,41,83254,13,Mumbai,High,Yes,Senior,Average,2022.0\n120,1121,Joshua,IT Support,49,61276,13,Mumbai,Normal,Yes,Senior,Poor,2021.0\n121,1122,Jeffrey,HR,34,30469,9,Hyderabad,Normal,Yes,Mid,Excellent,\n122,1123,Robert,Sales,49,135441,19,Mumbai,High,Yes,Senior,Poor,\n123,1124,Erin,Operations,33,69682,7,Bangalore,Normal,Yes,Mid,Average,\n124,1125,Danielle,Marketing,44,109812,9,Kolkata,High,Yes,Senior,Average,\n125,1126,Pamela,IT Support,24,35350,3,Delhi,Normal,No,Young,Average,2023.0\n126,1127,Marissa,IT Support,34,126197,1,Hyderabad,High,No,Mid,Poor,\n127,1128,Joshua,IT Support,39,109112,12,Mumbai,High,Yes,Mid,Poor,2022.0\n128,1129,Michael,Finance,37,36671,4,Mumbai,Normal,No,Mid,Good,2022.0\n129,1130,Anna,Sales,50,131896,11,Delhi,High,Yes,Senior,Good,2022.0\n130,1131,Tracy,HR,32,130478,0,Chennai,High,No,Mid,Good,2023.0\n131,1132,Melissa,HR,50,31563,11,Mumbai,Normal,Yes,Senior,Good,2021.0\n132,1133,Brenda,Operations,42,38588,7,Bangalore,Normal,Yes,Senior,Good,2023.0\n133,1134,Susan,Marketing,34,61571,5,Bangalore,Normal,Yes,Mid,Excellent,2020.0\n134,1135,Kim,Marketing,39,58158,17,Nagpur,Normal,Yes,Mid,Good,\n135,1136,Jessica,HR,23,50986,0,Chennai,Normal,No,Young,Average,\n136,1137,Scott,HR,36,122015,10,Delhi,High,Yes,Mid,Excellent,2022.0\n137,1138,Patricia,HR,34,105367,11,Bangalore,High,Yes,Mid,Poor,2020.0\n138,1139,Angela,Sales,45,140861,12,Bangalore,High,Yes,Senior,Excellent,2022.0\n139,1140,Michelle,HR,29,30211,2,Chennai,Normal,No,Young,Average,2020.0\n140,1141,Denise,HR,36,70029,9,Pune,Normal,Yes,Mid,Average,\n141,1142,David,HR,31,148554,4,Mumbai,High,No,Mid,Poor,2021.0\n142,1143,Erik,Sales,39,40930,3,Hyderabad,Normal,No,Mid,Excellent,2023.0\n143,1144,Cameron,Finance,32,92604,1,Delhi,High,No,Mid,Average,\n144,1145,Karen,IT Support,25,128300,2,Kolkata,High,No,Young,Excellent,2020.0\n145,1146,Crystal,Finance,27,121284,2,Pune,High,No,Young,Excellent,2022.0\n146,1147,Michael,Finance,36,51650,9,Nagpur,Normal,Yes,Mid,Poor,2023.0\n147,1148,Lori,Operations,26,91381,1,Pune,High,No,Young,Poor,2020.0\n148,1149,Jacob,HR,31,131579,6,Chennai,High,Yes,Mid,Excellent,2021.0\n149,1150,Audrey,IT Support,36,136954,14,Bangalore,High,Yes,Mid,Average,2020.0\n150,1151,Shannon,Operations,28,117874,7,Chennai,High,Yes,Young,Average,2022.0\n151,1152,Daniel,Data Science,50,106782,7,Mumbai,High,Yes,Senior,Good,2022.0\n152,1153,David,IT Support,37,93860,14,Kolkata,High,Yes,Mid,Good,2020.0\n153,1154,Debbie,Marketing,46,65997,8,Hyderabad,Normal,Yes,Senior,Excellent,2020.0\n154,1155,Calvin,Data Science,25,81969,1,Nagpur,High,No,Young,Average,2022.0\n155,1156,April,Finance,46,144160,1,Kolkata,High,No,Senior,Good,2021.0\n156,1157,Amy,Sales,35,58140,11,Hyderabad,Normal,Yes,Mid,Excellent,2023.0\n157,1158,Terri,IT Support,42,106192,8,Bangalore,High,Yes,Senior,Poor,2020.0\n158,1159,Mark,IT Support,43,78455,15,Delhi,Normal,Yes,Senior,Average,2020.0\n159,1160,Pamela,Marketing,41,37262,11,Chennai,Normal,Yes,Senior,Good,\n160,1161,Stephanie,Marketing,50,119215,7,Nagpur,High,Yes,Senior,Excellent,2021.0\n161,1162,Denise,HR,44,73919,7,Chennai,Normal,Yes,Senior,Poor,2023.0\n162,1163,Ashlee,Operations,41,70447,6,Hyderabad,Normal,Yes,Senior,Poor,\n163,1164,Jessica,Marketing,34,47946,9,Pune,Normal,Yes,Mid,Good,2022.0\n164,1165,Juan,Sales,28,64263,4,Pune,Normal,No,Young,Average,2023.0\n165,1166,Tara,IT Support,27,104507,0,Nagpur,High,No,Young,Poor,\n166,1167,Susan,Operations,49,56834,17,Delhi,Normal,Yes,Senior,Poor,2022.0\n167,1168,Mary,Operations,34,48980,2,Chennai,Normal,No,Mid,Poor,2021.0\n168,1169,Yesenia,Sales,38,31461,12,Mumbai,Normal,Yes,Mid,Average,\n169,1170,Daniel,IT Support,28,103903,7,Hyderabad,High,Yes,Young,Good,2022.0\n170,1171,Amy,Marketing,50,33519,7,Delhi,Normal,Yes,Senior,Poor,2022.0\n171,1172,Julie,Sales,25,89538,3,Nagpur,High,No,Young,Average,2023.0\n172,1173,Rebecca,HR,27,126335,6,Delhi,High,Yes,Young,Good,2021.0\n173,1174,Patrick,Marketing,22,77786,1,Kolkata,Normal,No,Young,Excellent,\n174,1175,Dennis,Sales,44,59290,16,Kolkata,Normal,Yes,Senior,Excellent,2023.0\n175,1176,Russell,Sales,43,92805,21,Nagpur,High,Yes,Senior,Poor,\n176,1177,Jeremiah,IT Support,30,75742,2,Kolkata,Normal,No,Mid,Poor,2021.0\n177,1178,Mary,HR,43,41883,20,Pune,Normal,Yes,Senior,Excellent,2023.0\n178,1179,Brianna,Operations,46,51860,12,Chennai,Normal,Yes,Senior,Good,2020.0\n179,1180,Kayla,Data Science,37,119728,7,Nagpur,High,Yes,Mid,Good,2020.0\n180,1181,Brenda,HR,47,53218,10,Nagpur,Normal,Yes,Senior,Poor,2023.0\n181,1182,George,HR,35,96383,14,Bangalore,High,Yes,Mid,Poor,2022.0\n182,1183,Brandon,Finance,41,36758,18,Nagpur,Normal,Yes,Senior,Excellent,2023.0\n183,1184,Steven,IT Support,35,93718,3,Nagpur,High,No,Mid,Poor,2021.0\n184,1185,Shannon,Marketing,30,77509,1,Delhi,Normal,No,Mid,Good,2020.0\n185,1186,Amanda,Marketing,50,89457,21,Nagpur,High,Yes,Senior,Good,2022.0\n186,1187,David,Marketing,25,69654,3,Delhi,Normal,No,Young,Excellent,2020.0\n187,1188,Brad,HR,26,60351,0,Bangalore,Normal,No,Young,Good,2022.0\n188,1189,Holly,Finance,26,110649,2,Chennai,High,No,Young,Good,2021.0\n189,1190,Danielle,Marketing,40,102144,1,Mumbai,High,No,Senior,Poor,2022.0\n190,1191,Lisa,Marketing,40,98991,6,Chennai,High,Yes,Senior,Poor,\n191,1192,Taylor,Marketing,48,95344,11,Chennai,High,Yes,Senior,Poor,2020.0\n192,1193,Katelyn,Finance,44,146620,10,Pune,High,Yes,Senior,Average,2021.0\n193,1194,Holly,Operations,39,93169,16,Hyderabad,High,Yes,Mid,Average,\n194,1195,Margaret,Marketing,33,70139,11,Nagpur,Normal,Yes,Mid,Average,\n195,1196,John,Operations,25,85410,3,Chennai,High,No,Young,Poor,2023.0\n196,1197,Michael,IT Support,44,147141,11,Nagpur,High,Yes,Senior,Poor,2020.0\n197,1198,Patricia,Data Science,30,103353,0,Bangalore,High,No,Mid,Average,2021.0\n198,1199,Corey,Data Science,28,64163,2,Pune,Normal,No,Young,Excellent,\n199,1200,Joanne,IT Support,23,99742,0,Mumbai,High,No,Young,Good,2023.0\n200,1201,Kenneth,Marketing,28,112605,6,Chennai,High,Yes,Young,Average,2021.0\n201,1202,Jasmine,IT Support,47,126278,12,Bangalore,High,Yes,Senior,Poor,\n202,1203,Laura,IT Support,40,60394,0,Kolkata,Normal,No,Senior,Good,2020.0\n203,1204,Samuel,Finance,25,122463,3,Hyderabad,High,No,Young,Good,2023.0\n204,1205,Alexander,IT Support,33,66676,1,Hyderabad,Normal,No,Mid,Average,2023.0\n205,1206,Monica,HR,50,84683,12,Nagpur,High,Yes,Senior,Poor,2023.0\n206,1207,Bianca,HR,29,38746,8,Kolkata,Normal,Yes,Young,Poor,2023.0\n207,1208,Cynthia,Operations,33,118745,12,Pune,High,Yes,Mid,Good,2022.0\n208,1209,Katie,HR,34,43908,8,Mumbai,Normal,Yes,Mid,Poor,2021.0\n209,1210,Debbie,Data Science,22,46051,0,Mumbai,Normal,No,Young,Poor,2021.0\n210,1211,Justin,HR,26,86614,0,Bangalore,High,No,Young,Average,2022.0\n211,1212,Michelle,Marketing,37,81679,0,Chennai,High,No,Mid,Excellent,2021.0\n212,1213,Richard,Operations,24,132724,2,Chennai,High,No,Young,Average,2020.0\n213,1214,Marcus,Sales,27,114092,1,Hyderabad,High,No,Young,Average,2023.0\n214,1215,Ariel,Finance,43,79116,8,Kolkata,Normal,Yes,Senior,Poor,2023.0\n215,1216,Sandra,Operations,37,43739,5,Delhi,Normal,Yes,Mid,Good,2022.0\n216,1217,Brendan,Marketing,30,137187,2,Kolkata,High,No,Mid,Average,2021.0\n217,1218,Charles,HR,22,39544,1,Delhi,Normal,No,Young,Good,2022.0\n218,1219,Albert,HR,40,82824,6,Bangalore,High,Yes,Senior,Excellent,\n219,1220,Joshua,Sales,26,64202,1,Pune,Normal,No,Young,Good,2021.0\n220,1221,Ryan,Sales,39,104125,10,Delhi,High,Yes,Mid,Good,\n221,1222,Michael,IT Support,36,126356,3,Pune,High,No,Mid,Good,\n222,1223,Crystal,Data Science,49,75390,17,Kolkata,Normal,Yes,Senior,Good,\n223,1224,Cheryl,Operations,44,91395,5,Pune,High,Yes,Senior,Good,2023.0\n224,1225,Susan,Marketing,50,57666,9,Delhi,Normal,Yes,Senior,Poor,2021.0\n225,1226,Jamie,HR,36,148875,13,Mumbai,High,Yes,Mid,Excellent,2021.0\n226,1227,Theresa,Sales,50,128848,23,Kolkata,High,Yes,Senior,Excellent,2020.0\n227,1228,Jason,Sales,41,72883,7,Kolkata,Normal,Yes,Senior,Poor,2023.0\n228,1229,Tiffany,IT Support,32,83259,4,Mumbai,High,No,Mid,Good,2023.0\n229,1230,Julie,Operations,50,86014,12,Pune,High,Yes,Senior,Poor,\n230,1231,Lee,Marketing,44,32831,19,Kolkata,Normal,Yes,Senior,Good,2023.0\n231,1232,Andrew,Operations,25,119320,3,Delhi,High,No,Young,Poor,\n232,1233,Donna,HR,32,140272,6,Kolkata,High,Yes,Mid,Average,\n233,1234,Ashley,Operations,36,91413,8,Kolkata,High,Yes,Mid,Average,2022.0\n234,1235,Scott,Data Science,50,139693,21,Mumbai,High,Yes,Senior,Excellent,2020.0\n235,1236,Melissa,Data Science,41,108763,16,Hyderabad,High,Yes,Senior,Good,2023.0\n236,1237,Michele,HR,31,77213,1,Hyderabad,Normal,No,Mid,Poor,2022.0\n237,1238,Todd,IT Support,22,36556,1,Bangalore,Normal,No,Young,Average,2021.0\n238,1239,Jacqueline,Data Science,28,70555,3,Kolkata,Normal,No,Young,Poor,2023.0\n239,1240,Daniel,Sales,45,67467,18,Chennai,Normal,Yes,Senior,Average,2023.0\n240,1241,Andrew,Marketing,43,87452,6,Bangalore,High,Yes,Senior,Poor,2022.0\n241,1242,Michelle,IT Support,43,48003,5,Kolkata,Normal,Yes,Senior,Excellent,2023.0\n242,1243,Lydia,IT Support,39,128179,12,Delhi,High,Yes,Mid,Average,2023.0\n243,1244,Michelle,Operations,37,43709,5,Mumbai,Normal,Yes,Mid,Good,2023.0\n244,1245,Diane,Operations,24,145441,1,Bangalore,High,No,Young,Excellent,2023.0\n245,1246,Laura,Finance,50,68838,5,Mumbai,Normal,Yes,Senior,Average,2023.0\n246,1247,Zachary,Marketing,28,77757,1,Mumbai,Normal,No,Young,Excellent,2022.0\n247,1248,Kevin,Finance,26,141868,5,Bangalore,High,Yes,Young,Good,2023.0\n248,1249,Alison,Sales,34,112953,5,Delhi,High,Yes,Mid,Average,2023.0\n249,1250,Ashley,IT Support,42,71951,0,Chennai,Normal,No,Senior,Good,2023.0\n250,1251,Kimberly,Data Science,36,38716,10,Kolkata,Normal,Yes,Mid,Excellent,2023.0\n251,1252,Matthew,Finance,35,39778,0,Bangalore,Normal,No,Mid,Excellent,2021.0\n252,1253,Larry,Marketing,39,88543,12,Bangalore,High,Yes,Mid,Average,\n253,1254,Matthew,Data Science,36,53221,0,Nagpur,Normal,No,Mid,Poor,2021.0\n254,1255,Jeffery,Operations,37,57866,8,Nagpur,Normal,Yes,Mid,Average,2023.0\n255,1256,David,Finance,32,87850,11,Mumbai,High,Yes,Mid,Good,2022.0\n256,1257,Eric,Marketing,50,81141,4,Delhi,High,No,Senior,Average,2023.0\n257,1258,Kyle,Finance,46,108183,16,Kolkata,High,Yes,Senior,Average,2022.0\n258,1259,Crystal,HR,35,100174,6,Delhi,High,Yes,Mid,Excellent,2020.0\n259,1260,David,HR,50,98014,16,Hyderabad,High,Yes,Senior,Excellent,2021.0\n260,1261,Carmen,Operations,34,91078,0,Pune,High,No,Mid,Average,2021.0\n261,1262,Wanda,Data Science,24,69991,1,Mumbai,Normal,No,Young,Average,\n262,1263,Stephanie,Marketing,35,61486,1,Nagpur,Normal,No,Mid,Good,2021.0\n263,1264,Andrew,Sales,23,116845,2,Nagpur,High,No,Young,Good,2023.0\n264,1265,Tracie,Data Science,49,137458,25,Pune,High,Yes,Senior,Excellent,2021.0\n265,1266,Monica,HR,46,104206,19,Mumbai,High,Yes,Senior,Excellent,2022.0\n266,1267,Daniel,HR,39,50842,12,Chennai,Normal,Yes,Mid,Average,2020.0\n267,1268,Christopher,Sales,26,94393,3,Delhi,High,No,Young,Poor,2021.0\n268,1269,Nicole,Operations,33,41932,10,Hyderabad,Normal,Yes,Mid,Good,2022.0\n269,1270,Stephanie,IT Support,44,60972,3,Delhi,Normal,No,Senior,Average,2021.0\n270,1271,Michael,Finance,28,34245,3,Chennai,Normal,No,Young,Good,2021.0\n271,1272,William,IT Support,38,44169,10,Kolkata,Normal,Yes,Mid,Poor,2023.0\n272,1273,Nicole,Sales,48,149058,19,Pune,High,Yes,Senior,Good,2023.0\n273,1274,Amanda,Finance,46,103466,

In [5]:
# prompt: merged_df.to_csv() convert it in csv

merged_df.to_csv('merged_employee_data.csv', index=False)

In [6]:
# Filter rows based on multiple conditions involving columns like Salary, ExperienceYears, Location, and PerformanceRating.

merged_df[['Salary', 'ExperienceYears', 'Location', 'PerformanceRating']]

     Salary  ExperienceYears Location PerformanceRating
0     55534                2    Delhi         Excellent
1     80275               24     Pune           Average
2     48919                9  Kolkata              Good
3     51102                0  Kolkata           Average
4     74223                2     Pune         Excellent
..      ...              ...      ...               ...
995   81544                0    Delhi              Good
996   49308                1    Delhi         Excellent
997  149537                5     Pune              Poor
998   80558                0  Chennai              Good
999   41265                3  Kolkata              Good

[1000 rows x 4 columns]

In [7]:
# Filter employees with Salary > ₹60,000 and experience > 5 years.

merged_df[(merged_df['Salary']>60000)&(merged_df['ExperienceYears']>5)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
1,1002,Jeffrey,Operations,50,80275,24,Pune,High,Yes,Senior,Average,2023.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
8,1009,Stephen,Finance,42,118994,16,Hyderabad,High,Yes,Senior,Poor,2022.0
15,1016,Rachel,IT Support,31,88137,6,Delhi,High,Yes,Mid,Excellent,2020.0
17,1018,Jacqueline,Marketing,37,138169,9,Mumbai,High,Yes,Mid,Good,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...
989,1990,Jasmine,Marketing,42,140569,15,Delhi,High,Yes,Senior,Excellent,2020.0
991,1992,Bryan,Sales,37,105623,7,Mumbai,High,Yes,Mid,Good,2021.0
992,1993,Laura,Data Science,34,75931,7,Nagpur,Normal,Yes,Mid,Average,NaN
993,1994,Melissa,Data Science,38,136368,12,Kolkata,High,Yes,Mid,Average,2020.0
994,1995,Robert,Finance,34,70318,10,Mumbai,Normal,Yes,Mid,Good,2021.0

In [8]:
# Select rows where Age < 30 and Department is 'HR'.

merged_df[(merged_df['Age']<30)&(merged_df['Department']=='HR')]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
13,1014,Jose,HR,27,87639,2,Pune,High,No,Young,Good,2021.0
31,1032,Theresa,HR,23,32845,1,Kolkata,Normal,No,Young,Average,2022.0
44,1045,Diane,HR,28,96675,6,Chennai,High,Yes,Young,Good,2023.0
63,1064,Gregory,HR,24,65202,0,Bangalore,Normal,No,Young,Average,2022.0
73,1074,Alexander,HR,24,80773,1,Bangalore,High,No,Young,Excellent,NaN
76,1077,Frank,HR,26,43498,3,Chennai,Normal,No,Young,Good,2023.0
135,1136,Jessica,HR,23,50986,0,Chennai,Normal,No,Young,Average,NaN
139,1140,Michelle,HR,29,30211,2,Chennai,Normal,No,Young,Average,2020.0
172,1173,Rebecca,HR,27,126335,6,Delhi,High,Yes,Young,Good,2021.0
187,1188,Brad,HR,26,60351,0,Bangalore,Normal,No,Young,Good,2022.0
206,1207,Bianca,HR,29,38746,8,Kolkata,Normal,Yes,Young,Poor,2023.0
210,1211,Justin,HR,26,86614,0,Bangalore,High,No,Young,Average,2022.0
217,1218,Charles,HR,22,39544,1,Delhi,Normal,No,Young,Good,2022.0
318,1319,Veronica,HR,23,46114,2,Pune,Normal,No,Young,Poor,2022.0
323,1324,Richard,HR,22,43138,1,Hyderabad,Normal,No,Young,Good,2020.0
413,1414,Alisha,HR,27,122860,4,Chennai,High,No,Young,Good,NaN
480,1481,Tony,HR,29,105975,4,Kolkata,High,No,Young,Excellent,2023.0
485,1486,Kyle,HR,25,93142,0,Bangalore,High,No,Young,Poor,2020.0
497,1498,Joseph,HR,28,113558,6,Bangalore,High,Yes,Young,Poor,2021.0
549,1550,Samuel,HR,25,41830,4,Hyderabad,Normal,No,Young,Good,2021.0
554,1555,Stephanie,HR,27,31776,1,Delhi,Normal,No,Young,Good,2021.0
593,1594,William,HR,29,134960,3,Kolkata,High,No,Young,Poor,2022.0
615,1616,Tyler,HR,29,128594,1,Nagpur,High,No,Young,Poor,NaN
655,1656,Robert,HR,22,48341,0,Kolkata,Normal,No,Young,Poor,2022.0
682,1683,Jeffrey,HR,27,71017,0,Pune,Normal,No,Young,Poor,2020.0
685,1686,Thomas,HR,25,111472,3,Mumbai,High,No,Young,Average,2022.0
733,1734,Tiffany,HR,22,82281,1,Nagpur,High,No,Young,Average,2021.0
757,1758,Jeremy,HR,25,116121,0,Hyderabad,High,No,Young,Average,2020.0
768,1769,Alexander,HR,29,114617,8,Nagpur,High,Yes,Young,Good,2023.0
791,1792,John,HR,29,147959,1,Chennai,High,No,Young,Poor,NaN
810,1811,Karen,HR,24,132109,1,Kolkata,High,No,Young,Average,2022.0
845,1846,Emily,HR,25,115044,0,Bangalore,High,No,Young,Average,2022.0
920,1921,Patrick,HR,26,104009,1,Mumbai,High,No,Young,Good,2020.0
957,1958,Courtney,HR,26,121656,3,Chennai,High,No,Young,Average,2023.0

In [9]:
# Get all rows where PerformanceRating is 'Good' or 'Excellent'.

merged_df[merged_df['PerformanceRating'].isin(['Good', 'Excellent'])]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0
2,1003,Leslie,Operations,37,48919,9,Kolkata,Normal,Yes,Mid,Good,2022.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
994,1995,Robert,Finance,34,70318,10,Mumbai,Normal,Yes,Mid,Good,2021.0
995,1996,Jennifer,IT Support,23,81544,0,Delhi,High,No,Young,Good,2020.0
996,1997,Eric,IT Support,25,49308,1,Delhi,Normal,No,Young,Excellent,2022.0
998,1999,Melissa,IT Support,23,80558,0,Chennai,High,No,Young,Good,2021.0
999,2000,Kyle,Sales,38,41265,3,Kolkata,Normal,No,Mid,Good,2021.0

In [10]:
# Employees from Pune or Bangalore with Bonus > ₹15,000.

merged_df[(merged_df['Location'].isin(['Pune', 'Bangalore']))&(merged_df['Salary']>15000)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
1,1002,Jeffrey,Operations,50,80275,24,Pune,High,Yes,Senior,Average,2023.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
7,1008,Nicole,Operations,49,51114,22,Bangalore,Normal,Yes,Senior,Poor,2021.0
9,1010,Marissa,Data Science,50,40324,13,Bangalore,Normal,Yes,Senior,Average,NaN
13,1014,Jose,HR,27,87639,2,Pune,High,No,Young,Good,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...
975,1976,Kevin,Data Science,38,143754,4,Pune,High,No,Mid,Poor,NaN
979,1980,Thomas,Finance,39,44080,0,Pune,Normal,No,Mid,Average,2020.0
986,1987,Meredith,Data Science,28,141234,4,Bangalore,High,No,Young,Excellent,2020.0
990,1991,Daniel,Operations,32,94412,3,Bangalore,High,No,Mid,Good,2021.0
997,1998,Alisha,Data Science,45,149537,5,Pune,High,Yes,Senior,Poor,2023.0

In [17]:
# AgeGroup is 'Senior' and LastPromotionYear < 2020.

merged_df[(merged_df['AgeGroup'] == 'Senior') & (merged_df['LastPromotionYear'] < 2020)]

Empty DataFrame
Columns: [EmployeeID, Name, Department, Age, Salary, ExperienceYears, Location, Status, EligibleForPromotion, AgeGroup, PerformanceRating, LastPromotionYear]
Index: []

In [18]:
# Employees whose Salary is between ₹50,000 and ₹80,000.

merged_df[(merged_df['Salary']>50000)&(merged_df['Salary']<80000)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0
3,1004,Dalton,Operations,23,51102,0,Kolkata,Normal,No,Young,Average,2023.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
7,1008,Nicole,Operations,49,51114,22,Bangalore,Normal,Yes,Senior,Poor,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...
977,1978,Shawn,Sales,23,62052,1,Mumbai,Normal,No,Young,Excellent,2023.0
984,1985,Francis,Marketing,27,51605,5,Nagpur,Normal,Yes,Young,Poor,2023.0
988,1989,Anthony,Finance,47,66741,18,Mumbai,Normal,Yes,Senior,Average,2023.0
992,1993,Laura,Data Science,34,75931,7,Nagpur,Normal,Yes,Mid,Average,NaN
994,1995,Robert,Finance,34,70318,10,Mumbai,Normal,Yes,Mid,Good,2021.0

In [19]:
# Filter employees working in 'Data Science' with rating not 'Poor'.

merged_df[(merged_df['Department']=='Data Science')&(merged_df['PerformanceRating']!='Poor')]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,NaN
9,1010,Marissa,Data Science,50,40324,13,Bangalore,Normal,Yes,Senior,Average,NaN
46,1047,Melissa,Data Science,34,47449,12,Bangalore,Normal,Yes,Mid,Average,2020.0
47,1048,Monique,Data Science,32,57212,6,Chennai,Normal,Yes,Mid,Excellent,2023.0
49,1050,Andrew,Data Science,41,106566,3,Nagpur,High,No,Senior,Excellent,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...
973,1974,Max,Data Science,33,60904,5,Kolkata,Normal,Yes,Mid,Excellent,2022.0
974,1975,Jessica,Data Science,38,79993,14,Chennai,Normal,Yes,Mid,Average,2023.0
986,1987,Meredith,Data Science,28,141234,4,Bangalore,High,No,Young,Excellent,2020.0
992,1993,Laura,Data Science,34,75931,7,Nagpur,Normal,Yes,Mid,Average,NaN
993,1994,Melissa,Data Science,38,136368,12,Kolkata,High,Yes,Mid,Average,2020.0

In [21]:
# Filter all employees aged under 35 from Mumbai.

merged_df[(merged_df['Age']<35)&(merged_df['Location']=='Mumbai')]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
52,1053,Ronald,IT Support,31,138612,0,Mumbai,High,No,Mid,Good,2023.0
55,1056,Amy,Operations,23,87709,0,Mumbai,High,No,Young,Excellent,2020.0
59,1060,Donna,Operations,28,31440,7,Mumbai,Normal,Yes,Young,Excellent,NaN
64,1065,Jason,Finance,28,103819,6,Mumbai,High,Yes,Young,Excellent,2021.0
65,1066,Paul,Marketing,29,42886,2,Mumbai,Normal,No,Young,Poor,2021.0
96,1097,Steven,IT Support,27,135106,2,Mumbai,High,No,Young,Excellent,2022.0
141,1142,David,HR,31,148554,4,Mumbai,High,No,Mid,Poor,2021.0
199,1200,Joanne,IT Support,23,99742,0,Mumbai,High,No,Young,Good,2023.0
208,1209,Katie,HR,34,43908,8,Mumbai,Normal,Yes,Mid,Poor,2021.0
209,1210,Debbie,Data Science,22,46051,0,Mumbai,Normal,No,Young,Poor,2021.0
228,1229,Tiffany,IT Support,32,83259,4,Mumbai,High,No,Mid,Good,2023.0
246,1247,Zachary,Marketing,28,77757,1,Mumbai,Normal,No,Young,Excellent,2022.0
255,1256,David,Finance,32,87850,11,Mumbai,High,Yes,Mid,Good,2022.0
261,1262,Wanda,Data Science,24,69991,1,Mumbai,Normal,No,Young,Average,NaN
277,1278,Heather,Marketing,33,44726,1,Mumbai,Normal,No,Mid,Average,2020.0
292,1293,Dalton,IT Support,30,137392,7,Mumbai,High,Yes,Mid,Poor,2023.0
322,1323,Shane,IT Support,33,110099,8,Mumbai,High,Yes,Mid,Good,2021.0
332,1333,Anthony,Operations,34,92516,11,Mumbai,High,Yes,Mid,Average,2023.0
339,1340,Joseph,Operations,24,106657,3,Mumbai,High,No,Young,Good,NaN
353,1354,Terrence,IT Support,23,94430,1,Mumbai,High,No,Young,Excellent,2023.0
366,1367,Adam,Marketing,29,64727,2,Mumbai,Normal,No,Young,Average,2023.0
368,1369,Michael,Marketing,27,80011,0,Mumbai,High,No,Young,Average,2021.0
378,1379,Michele,Sales,29,137922,1,Mumbai,High,No,Young,Poor,2023.0
398,1399,Cheyenne,Finance,34,41886,7,Mumbai,Normal,Yes,Mid,Excellent,2020.0
415,1416,Henry,HR,32,87847,0,Mumbai,High,No,Mid,Poor,2023.0
435,1436,Steven,Marketing,22,77904,0,Mumbai,Normal,No,Young,Poor,2022.0
445,1446,Robert,HR,32,134853,5,Mumbai,High,Yes,Mid,Good,2022.0
454,1455,Sean,IT Support,23,47716,2,Mumbai,Normal,No,Young,Good,2023.0
455,1456,Jacqueline,Finance,31,148391,8,Mumbai,High,Yes,Mid,Average,2023.0
478,1479,Kimberly,Sales,33,86850,8,Mumbai,High,Yes,Mid,Poor,2020.0
498,1499,Robert,Sales,26,44452,1,Mumbai,Normal,No,Young,Poor,NaN
508,1509,Joshua,Operations,22,142169,1,Mumbai,High,No,Young,Average,NaN
514,1515,Kara,Finance,34,95316,4,Mumbai,High,No,Mid,Good,2023.0
540,1541,Heather,Marketing,34,83031,13,Mumbai,High,Yes,Mid,Average,2023.0
574,1575,Larry,IT Support,30,71198,4,Mumbai,Normal,No,Mid,Good,2022.0
583,1584,Joan,Data Science,32,73034,9,Mumbai,Normal,Yes,Mid,Excellent,2023.0
635,1636,Allen,IT Support,30,47132,5,Mumbai,Normal,Yes,Mid,Average,2022.0
644,1645,Tammy,Operations,34,69170,3,Mumbai,Normal,No,Mid,Poor,2022.0
647,1648,Wayne,IT Support,23,113381,2,Mumbai,High,No,Young,Average,2021.0
660,1661,Cynthia,Sales,22,32126,1,Mumbai,Normal,No,Young,Good,2022.0
685,1686,Thomas,HR,25,111472,3,Mumbai,High,No,Young,Average,2022.0
700,1701,Tyler,Operations,29,115191,8,Mumbai,High,Yes,Young,Poor,2020.0
705,1706,April,Data Science,27,85391,1,Mumbai,High,No,Young,Average,2023.0
720,1721,Patricia,Finance,27,80490,2,Mumbai,High,No,Young,Good,NaN
734,1735,Lori,HR,33,48991,0,Mumbai,Normal,No,Mid,Good,NaN
742,1743,Kenneth,Operations,32,149734,8,Mumbai,High,Yes,Mid,Excellent,2021.0
769,1770,Zachary,Marketing,25,94597,1,Mumbai,High,No,Young,Average,NaN
816,1817,Jennifer,Operations,32,149206,0,Mumbai,High,No,Mid,Excellent,2021.0
818,1819,William,Marketing,23,34118,2,Mumbai,Normal,No,Young,Good,2023.0
822,1823,Timothy,Sales,34,113159,11,Mumbai,High,Yes,Mid,Good,2023.0
830,1831,Morgan,Marketing,30,39235,2,Mumbai,Normal,No,Mid,Good,2022.0
881,1882,Bryce,Finance,30,40345,3,Mumbai,Normal,No,Mid,Good,2022.0
920,1921,Patrick,HR,26,104009,1,Mumbai,High,No,Young,Good,2020.0
962,1963,Karen,Operations,32,131250,7,Mumbai,High,Yes,Mid,Excellent,2023.0
967,1968,Aaron,Sales,25,100471,0,Mumbai,High,No,Young,Average,NaN
977,1978,Shawn,Sales,23,62052,1,Mumbai,Normal,No,Young,Excellent,2023.0
994,1995,Robert,Finance,34,70318,10,Mumbai,Normal,Yes,Mid,Good,2021.0

In [22]:
# Employees with less than 3 years experience or Salary > ₹90,000.

merged_df[(merged_df['ExperienceYears']<3)&(merged_df['Salary']>90000)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,NaN
14,1015,Rebecca,HR,41,107408,2,Pune,High,No,Senior,Average,2023.0
24,1025,Linda,Sales,37,149570,0,Pune,High,No,Mid,Excellent,2023.0
30,1031,Wendy,Marketing,22,116236,0,Hyderabad,High,No,Young,Average,2023.0
42,1043,Samantha,Finance,38,136102,0,Delhi,High,No,Mid,Excellent,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...
956,1957,Jerry,IT Support,35,105470,0,Chennai,High,No,Mid,Excellent,2022.0
960,1961,Roy,Finance,32,142769,1,Nagpur,High,No,Mid,Good,2020.0
965,1966,Cheryl,HR,43,95365,2,Kolkata,High,No,Senior,Good,2021.0
967,1968,Aaron,Sales,25,100471,0,Mumbai,High,No,Young,Average,NaN
970,1971,Taylor,Operations,36,147143,0,Delhi,High,No,Mid,Average,NaN

In [23]:
# Employees who are from Delhi, are over 40 years old, and have a rating of "Good".

merged_df[(merged_df['Location']=='Delhi')&(merged_df['Age']>40)&(merged_df['PerformanceRating']=='Good')]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
50,1051,Ronald,Data Science,45,128777,23,Delhi,High,Yes,Senior,Good,2021.0
77,1078,Amanda,Operations,41,147902,11,Delhi,High,Yes,Senior,Good,NaN
129,1130,Anna,Sales,50,131896,11,Delhi,High,Yes,Senior,Good,2022.0
465,1466,Julian,HR,48,70787,13,Delhi,Normal,Yes,Senior,Good,2020.0
543,1544,Norman,HR,47,138459,23,Delhi,High,Yes,Senior,Good,NaN
556,1557,Katherine,Sales,46,62548,17,Delhi,Normal,Yes,Senior,Good,2021.0
721,1722,Courtney,Sales,49,78361,10,Delhi,Normal,Yes,Senior,Good,2023.0
731,1732,Derek,Sales,48,71199,4,Delhi,Normal,No,Senior,Good,2022.0
885,1886,Natalie,Data Science,43,87358,21,Delhi,High,Yes,Senior,Good,2021.0
898,1899,Mary,Finance,48,44080,19,Delhi,Normal,Yes,Senior,Good,2021.0
921,1922,Stacey,Data Science,47,73268,7,Delhi,Normal,Yes,Senior,Good,2022.0
926,1927,Barbara,Marketing,46,85424,11,Delhi,High,Yes,Senior,Good,2023.0
987,1988,Jesse,Sales,46,89457,9,Delhi,High,Yes,Senior,Good,2022.0

In [24]:
# Employees with experience > 7 years and AgeGroup is "Senior".

merged_df[(merged_df['ExperienceYears']>7)&(merged_df['AgeGroup']=='Senior')]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
1,1002,Jeffrey,Operations,50,80275,24,Pune,High,Yes,Senior,Average,2023.0
7,1008,Nicole,Operations,49,51114,22,Bangalore,Normal,Yes,Senior,Poor,2021.0
8,1009,Stephen,Finance,42,118994,16,Hyderabad,High,Yes,Senior,Poor,2022.0
9,1010,Marissa,Data Science,50,40324,13,Bangalore,Normal,Yes,Senior,Average,NaN
18,1019,Jennifer,IT Support,46,114361,14,Chennai,High,Yes,Senior,Excellent,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...
981,1982,Brandon,HR,49,118130,21,Delhi,High,Yes,Senior,Average,2020.0
983,1984,Breanna,IT Support,43,141575,10,Nagpur,High,Yes,Senior,Average,2020.0
987,1988,Jesse,Sales,46,89457,9,Delhi,High,Yes,Senior,Good,2022.0
988,1989,Anthony,Finance,47,66741,18,Mumbai,Normal,Yes,Senior,Average,2023.0
989,1990,Jasmine,Marketing,42,140569,15,Delhi,High,Yes,Senior,Excellent,2020.0

In [33]:
# prompt: # Employees with salary above average salary and bonus below 10k.
k=merged_df[['Salary']].mean().iloc[0]
# merged_df[(merged_df['Salary']>k)&(merged_df['Salary']<10000)]

merged_df[(merged_df['Salary']>k)&(merged_df['Salary']<10000)]

Empty DataFrame
Columns: [EmployeeID, Name, Department, Age, Salary, ExperienceYears, Location, Status, EligibleForPromotion, AgeGroup, PerformanceRating, LastPromotionYear]
Index: []

In [34]:
# Employees from Marketing or Sales with Rating not in ['Poor', 'Average'].

merged_df[(merged_df['Department'].isin(['Marketing',  'Sales']))&(~merged_df['PerformanceRating'].isin(['Poor','Average']))]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
17,1018,Jacqueline,Marketing,37,138169,9,Mumbai,High,Yes,Mid,Good,2020.0
24,1025,Linda,Sales,37,149570,0,Pune,High,No,Mid,Excellent,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...
977,1978,Shawn,Sales,23,62052,1,Mumbai,Normal,No,Young,Excellent,2023.0
987,1988,Jesse,Sales,46,89457,9,Delhi,High,Yes,Senior,Good,2022.0
989,1990,Jasmine,Marketing,42,140569,15,Delhi,High,Yes,Senior,Excellent,2020.0
991,1992,Bryan,Sales,37,105623,7,Mumbai,High,Yes,Mid,Good,2021.0
999,2000,Kyle,Sales,38,41265,3,Kolkata,Normal,No,Mid,Good,2021.0

In [36]:
merged_df[~merged_df['Location'].isin(['Bangalore', 'Pune', 'Delhi'])]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
2,1003,Leslie,Operations,37,48919,9,Kolkata,Normal,Yes,Mid,Good,2022.0
3,1004,Dalton,Operations,23,51102,0,Kolkata,Normal,No,Young,Average,2023.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,NaN
8,1009,Stephen,Finance,42,118994,16,Hyderabad,High,Yes,Senior,Poor,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...
992,1993,Laura,Data Science,34,75931,7,Nagpur,Normal,Yes,Mid,Average,NaN
993,1994,Melissa,Data Science,38,136368,12,Kolkata,High,Yes,Mid,Average,2020.0
994,1995,Robert,Finance,34,70318,10,Mumbai,Normal,Yes,Mid,Good,2021.0
998,1999,Melissa,IT Support,23,80558,0,Chennai,High,No,Young,Good,2021.0
999,2000,Kyle,Sales,38,41265,3,Kolkata,Normal,No,Mid,Good,2021.0

In [41]:
# prompt: Employees promoted in the last 2 years and earning less than 70k.
# from the dataset


merged_df[(merged_df['LastPromotionYear'] <= 2021) & (merged_df['Salary'] < 70000)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
7,1008,Nicole,Operations,49,51114,22,Bangalore,Normal,Yes,Senior,Poor,2021.0
19,1020,Lynn,IT Support,34,39418,10,Nagpur,Normal,Yes,Mid,Poor,2021.0
20,1021,Steven,Operations,36,66253,9,Delhi,Normal,Yes,Mid,Average,2020.0
36,1037,Lauren,Sales,35,65432,4,Kolkata,Normal,No,Mid,Average,2020.0
46,1047,Melissa,Data Science,34,47449,12,Bangalore,Normal,Yes,Mid,Average,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...
945,1946,Kimberly,Operations,38,50787,17,Hyderabad,Normal,Yes,Mid,Good,2021.0
947,1948,John,Marketing,42,67562,14,Bangalore,Normal,Yes,Senior,Excellent,2020.0
958,1959,Mary,IT Support,42,51748,20,Bangalore,Normal,Yes,Senior,Poor,2021.0
979,1980,Thomas,Finance,39,44080,0,Pune,Normal,No,Mid,Average,2020.0
999,2000,Kyle,Sales,38,41265,3,Kolkata,Normal,No,Mid,Good,2021.0

In [42]:
# Employees from 'HR' or 'Finance' departments with Age < 30.

merged_df[(merged_df['Department'].isin(['HR', 'Finance']))&(merged_df['Age']<30)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
10,1011,Misty,Finance,26,41894,2,Nagpur,Normal,No,Young,Good,2023.0
13,1014,Jose,HR,27,87639,2,Pune,High,No,Young,Good,2021.0
31,1032,Theresa,HR,23,32845,1,Kolkata,Normal,No,Young,Average,2022.0
44,1045,Diane,HR,28,96675,6,Chennai,High,Yes,Young,Good,2023.0
60,1061,Karen,Finance,29,145473,8,Nagpur,High,Yes,Young,Good,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...
920,1921,Patrick,HR,26,104009,1,Mumbai,High,No,Young,Good,2020.0
928,1929,Todd,Finance,26,34812,0,Bangalore,Normal,No,Young,Average,2020.0
951,1952,James,Finance,23,32107,2,Delhi,Normal,No,Young,Poor,2022.0
957,1958,Courtney,HR,26,121656,3,Chennai,High,No,Young,Average,2023.0
969,1970,Patricia,Finance,26,52543,1,Nagpur,Normal,No,Young,Average,2023.0

In [43]:
# prompt: Filter based on a list of names or departments using isin().

# Filter based on a list of names or departments using isin().

names_to_filter = ['Alice', 'Bob'] # Replace with actual names
departments_to_filter = ['IT', 'Marketing'] # Replace with actual departments

filtered_by_names = merged_df[merged_df['Name'].isin(names_to_filter)]
filtered_by_departments = merged_df[merged_df['Department'].isin(departments_to_filter)]

print("Filtered by Names:")
print(filtered_by_names)
print("\nFiltered by Departments:")
filtered_by_departments

Filtered by Names:
Empty DataFrame
Columns: [EmployeeID, Name, Department, Age, Salary, ExperienceYears, Location, Status, EligibleForPromotion, AgeGroup, PerformanceRating, LastPromotionYear]
Index: []

Filtered by Departments:

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
5,1006,Mark,Marketing,37,62089,6,Hyderabad,Normal,Yes,Mid,Good,2022.0
17,1018,Jacqueline,Marketing,37,138169,9,Mumbai,High,Yes,Mid,Good,2020.0
30,1031,Wendy,Marketing,22,116236,0,Hyderabad,High,No,Young,Average,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...
948,1949,Tara,Marketing,35,115278,5,Nagpur,High,Yes,Mid,Poor,2023.0
953,1954,Larry,Marketing,22,126443,1,Chennai,High,No,Young,Poor,NaN
972,1973,Brenda,Marketing,35,143819,14,Chennai,High,Yes,Mid,Excellent,2020.0
984,1985,Francis,Marketing,27,51605,5,Nagpur,Normal,Yes,Young,Poor,2023.0
989,1990,Jasmine,Marketing,42,140569,15,Delhi,High,Yes,Senior,Excellent,2020.0

In [44]:
# Find employees who are not eligible for promotion but rated 'Excellent'.

merged_df[(merged_df['EligibleForPromotion']=='No')&(merged_df['PerformanceRating']=="Excellent")]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
0,1001,Elizabeth,Marketing,35,55534,2,Delhi,Normal,No,Mid,Excellent,2022.0
4,1005,Kayla,Marketing,39,74223,2,Pune,Normal,No,Mid,Excellent,2021.0
24,1025,Linda,Sales,37,149570,0,Pune,High,No,Mid,Excellent,2023.0
33,1034,Carla,Operations,23,51853,2,Nagpur,Normal,No,Young,Excellent,2022.0
42,1043,Samantha,Finance,38,136102,0,Delhi,High,No,Mid,Excellent,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...
931,1932,Robert,IT Support,35,99275,2,Hyderabad,High,No,Mid,Excellent,NaN
956,1957,Jerry,IT Support,35,105470,0,Chennai,High,No,Mid,Excellent,2022.0
977,1978,Shawn,Sales,23,62052,1,Mumbai,Normal,No,Young,Excellent,2023.0
986,1987,Meredith,Data Science,28,141234,4,Bangalore,High,No,Young,Excellent,2020.0
996,1997,Eric,IT Support,25,49308,1,Delhi,Normal,No,Young,Excellent,2022.0

In [45]:
# Employees who have a non-null LastPromotionYear and salary > 90k.
merged_df[(merged_df['LastPromotionYear'].isnull())&(merged_df['Salary']>90000)]

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
6,1007,Lance,Data Science,37,114056,2,Mumbai,High,No,Mid,Good,NaN
27,1028,William,Sales,46,92262,21,Chennai,High,Yes,Senior,Average,NaN
34,1035,Mary,Marketing,29,102198,3,Nagpur,High,No,Young,Poor,NaN
39,1040,Kristine,Finance,42,95074,16,Chennai,High,Yes,Senior,Excellent,NaN
77,1078,Amanda,Operations,41,147902,11,Delhi,High,Yes,Senior,Good,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
953,1954,Larry,Marketing,22,126443,1,Chennai,High,No,Young,Poor,NaN
967,1968,Aaron,Sales,25,100471,0,Mumbai,High,No,Young,Average,NaN
970,1971,Taylor,Operations,36,147143,0,Delhi,High,No,Mid,Average,NaN
975,1976,Kevin,Data Science,38,143754,4,Pune,High,No,Mid,Poor,NaN
982,1983,Angela,Finance,35,142338,5,Hyderabad,High,Yes,Mid,Good,NaN

In [46]:
# prompt: # Filter those with both high salary and experience in top 10% of dataset.

# Filter those with both high salary and experience in top 10% of dataset.

# Calculate the 90th percentile for Salary and ExperienceYears
salary_threshold = merged_df['Salary'].quantile(0.9)
experience_threshold = merged_df['ExperienceYears'].quantile(0.9)


# Filter employees based on these thresholds
filtered_df = merged_df[(merged_df['Salary'] > salary_threshold) & (merged_df['ExperienceYears'] > experience_threshold)]

filtered_df

,EmployeeID,Name,Department,Age,Salary,ExperienceYears,Location,Status,EligibleForPromotion,AgeGroup,PerformanceRating,LastPromotionYear
234,1235,Scott,Data Science,50,139693,21,Mumbai,High,Yes,Senior,Excellent,2020.0
272,1273,Nicole,Sales,48,149058,19,Pune,High,Yes,Senior,Good,2023.0
440,1441,David,IT Support,49,142107,21,Kolkata,High,Yes,Senior,Good,2021.0
468,1469,Steven,Finance,47,140110,22,Kolkata,High,Yes,Senior,Excellent,2021.0
559,1560,Justin,IT Support,45,139718,20,Bangalore,High,Yes,Senior,Average,2020.0
689,1690,Renee,Marketing,44,144922,20,Nagpur,High,Yes,Senior,Average,2023.0
787,1788,John,Data Science,49,139367,19,Delhi,High,Yes,Senior,Poor,2022.0
893,1894,Christopher,Sales,49,148175,25,Mumbai,High,Yes,Senior,Average,2023.0